/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19-06-2017, 14:42:48
    Author     : Nicolas Recabarren
*/

h2{
    margin: 0;
    padding-top: 15px;
}
body{
    width: 100%;
    margin: 0;
}
body header{
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #FFF;
    z-index: 999;
}
body header .enterprise_name{
    height: 60px;
    text-align: center;
    font-weight: bold;
}
body header .main_menu{
    border-bottom: 2px solid #3daae3;
    background-color: #404040;
    text-align: center;
    color: #FFF;
    height: 54px;
    width: 100%;
}
body header .main_menu ul{
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 0;
    height: 100%;
}
body header .main_menu ul > li{
    display: inline-block;
    height: auto;
}
body header .main_menu ul > li > a{
    text-decoration: none;
    color: #FFF;
    padding: 17px 20px;
    display: block;
}
body header .main_menu ul > li > a:hover,
body header .main_menu ul > li > a.active{
    background-color: #3daae3;
}
body section.main_content{
    margin-top: 120px;
    padding-top: 30px;
}
.msg{
    padding: 8px;
    text-align: center;
    margin-bottom: 25px;
}
.msg.msg-error{
    background-color: #f2dede;
    color: #a94442;
    border: 1px solid #ebccd1;
}
.msg.msg-success{
    color: #3c763d;
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
}